:root {
    --azul-react: #61DBFB;
    --cinza-react: #20232a;
}

body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(99, 96, 96, 1) 50%, rgba(32, 35, 42, 1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container input {
    height: 38px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    margin: 24px 0;
    padding: 8px;
    outline: 0;
    border: 1px solid black;
}

.qrcode {
    border: 15px solid white;
}

.download {
    background-color: black;
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.download:hover {
    background-color: white;
    color: black;
}